body {
  font-size: 16px;
  padding: 1rem;
}

ul {
  margin: 0 auto;
  max-width: 600px;
  list-style: none;
}

li {
  padding: 1rem;
  margin: 1rem;
  min-height: 100px;
}

button {
  border-radius: 0px;
  background: #bbded6;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

span {
  display: block;
  padding: 1rem 0px;
}
